@font-face {
    font-family: "Montserrat Bold";
    src: url(assets/fonts/Montserrat-Bold.woff2) format("woff2"), url(assets/fonts/Montserrat-Bold.woff2) format("woff");
}

@font-face {
    font-family: "Montserrat Medium";
    src: url(assets/fonts/Montserrat-Medium.woff2) format("woff2"),
        url(assets/fonts/Montserrat-Medium.woff) format("woff");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url(assets/fonts/Montserrat-Regular.woff2) format("woff2"),
        url(assets/fonts/Montserrat-Regular.woff) format("woff");
}

@font-face {
    font-family: "Montserrat Thin";
    src: url(assets/fonts/Montserrat-Thin.woff2) format("woff2"), url(assets/fonts/Montserrat-Thin.woff) format("woff");
}

:root {
    --primary-orange: #fd7e14;
    --vk-link-bg: #447bba;
}

html {
    overflow-x: hidden;
    overflow-x: clip;
}

body {
    font-family: "Montserrat Regular", Arial, Verdana, Tahoma, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-x: clip;
}

.text-orange {
    color: var(--primary-orange);
}

.bg-dark-orange {
    background-color: #c84513;
}

.border-orange {
    border-color: #c84513;
}

.aninimatd-btn {
    background-image: url(assets/images/orange-bg.jpg);
    transition: box-shadow 0.3s ease;
}

.animated-link {
    transition: transform 0.3s ease; 
    display: block;
}

.animated-link:hover {
    transform: translateY(-7px);
  }

.aninimatd-btn:is(:hover, :active, :focus-visible) {
    box-shadow: 0px 7px 25px rgba(234, 91, 36, 0.71);
}

.floating-counter {
    right: -15px;
    top: -5px;
}

.vk-bg-color {
    background-color: var(--vk-link-bg);
}

.hover-underline {
    text-underline-offset: 0.3em;
    transition: all 0.5s ease;
}

.hover-underline:is(:hover, :active, :focus-visible) {
    text-underline-offset: 0.3em;
    text-decoration: underline;
}

.header-overlay {
    background-image: url(assets/images/orange-bg.jpg);
    left: 50%;
    translate: -50%;
}

.ff-medium {
    font-family: "Montserrat Medium";
}

.ff-bold {
    font-family: "Montserrat Bold";
}

.ul-animated li {
    transition: all 0.3s ease;
}

.ul-animated li:is(:hover, :active, :focus-visible) {
    background-color: #fff;
    color: var(--primary-orange);
    outline: 1px solid var(--primary-orange);
    user-select: none;
    cursor: pointer;
}

.grid-animated > div {
    cursor: pointer;
    transition: outline 0.3s ease;
}

.grid-animated > div:is(:hover, :active, :focus-visible) {
    outline: 1px solid var(--primary-orange);
}

.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    flex: 1 0 75%;
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: gray;
    border: none;
    cursor: pointer;
    z-index: 10;
    aspect-ratio: 1/1;
}
.carousel-button-prev {
    left: 0;
}
.carousel-button-next {
    right: 0;
}

.box-shadow {
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.14);
}

.bg-img-bonus-1 {
    background-image: url(assets/images/promos/bonus-1.webp);
    background-size: cover;
    background-position: center;
}

.bg-img-bonus-2 {
    background-image: url(assets/images/promos/bonus-2.webp);
    background-size: cover;
    background-position: center;
}

.hits-carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.hits-carousel-inner {
    transition: transform 0.3s ease-in-out;
}

.hits-carousel-item {
    flex: 1 0 calc(100% / 6);
}
.hits-carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: gray;
    border: none;
    cursor: pointer;
    z-index: 10;
    aspect-ratio: 1/1;
    padding: 1em;
    border-radius: 50%;
}
.hits-carousel-button-prev {
    left: 0;
}
.hits-carousel-button-next {
    right: 0;
}
.hits-carousel-button[disabled] {
    display: none;
}

.box-shadow-yellow {
    box-shadow: 0px 0px 10px rgb(221 127 15 / 39%);
}

.flex-3 {
    flex: 3;
}

.animated-list li {
    transition: color 0.5s ease;
}

.animated-list li:is(:hover, :active, :focus-visible) {
    color: var(--primary-orange);
}

.menu {
    width: min(100%, 400px);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-image: url(assets/images/orange-bg.jpg);
}
.menu-open {
    transform: translateX(0);
}

.burger-ul > li {
    background-color: #fff;
    border-radius: 1em;
    padding: 2px;
    color: #000;
}

.burger-ul a {
    padding-left: 0.5em;
}

.search-panel {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
.search-panel-open {
    transform: translateX(0);
}

@media screen and ((min-width: 768px) and (max-width: 1024px)) {
    .w-max-33 {
        max-width: 33%;
    }
}